.cmn-Btn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 15px 24px;
  background: #0e0726;
  gap: 5px;
  border: 2px solid #ffc700;
  border-radius: 8px;
  font-size: 18px;
  color: #ffc700;
  font-weight: 700;
  cursor: pointer;
  /* identical to box height */

  text-align: center;

  /* black */

  background: #0e0726;
  /* orange */

  border: 2px solid #ffc700;
  border-radius: 8px;
}

/* checkbox  */
.checkbox-container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px 8px;
  gap: 10px;

  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;

  /* orange */

  background: #ffc700;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #0e0726;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #ffc700;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 10px;
  height: 14px;
  border: solid #0e0726;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
