.cmn-Btn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 15px 24px;
  background: #0e0726;
  gap: 5px;
  border: 2px solid #ffc700;
  border-radius: 8px;
  font-size: 18px;
  color: #ffc700;
  font-weight: 700;
  cursor: pointer;
  /* identical to box height */

  text-align: center;

  /* black */

  background: #0e0726;
  /* orange */

  border: 2px solid #ffc700;
  border-radius: 8px;
}
